<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

<h2>Welcome to the Home Page</h2>

{% if 'user_id' in session %}
    <a href="{{ url_for('post_routes.create_post') }}">Create a Post</a>
    <br>
    <a href="{{ url_for('user_routes.user_profile', user_id=session['user_id']) }}">View Your Profile</a>
    <br>
    <a href="{{ url_for('user_routes.logout') }}">Logout</a>
{% else %}

    <p>Login to create a post</p>
{% endif %}
</body>
</html>
